@import "base/variables";

// Foundation
@import "base/foundation_settings";
@import "foundation";
@include foundation-everything;

// Components
@import "components/callout-auth";
@import "components/container";
@import "components/headings";
@import "components/page-title";
@import "components/page-actions";
@import "components/navbar";
@import "components/navbar-logged-in";

@import "components/steps-app";
@import "components/step";
@import "components/steps-listing";
@import "components/tests-list";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
