@import "base/variables";

// Components
@import "components/callout-auth";
@import "components/container";
@import "components/headings";
@import "components/page-title";
@import "components/page-actions";
@import "components/navbar";
@import "components/navbar-logged-in";

@import "components/steps-app";
@import "components/step";
@import "components/steps-listing";
@import "components/tests-list";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  height: 100%;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.ui.secondary.menu a.item {
  &:hover{
    background: none;
  }

  &.logo {
    font-size: 1.5em;
    font-weight: bold;
  }
}

#app {
  height: 100%;

  .grid {
    height: 100%;
  }
}

.container__header .checkbox {
  margin-top: 1rem;
}
