# Ignore these
config/
node_modules/
semantic/
public/javascripts/bundle.*
public/javascripts/landingPage.*
.idea

# But not these
!semantic/dist/semantic.min.css
!semantic/dist/semantic.min.js
!config/development.sample.env
!config/test.sample.env
