extends layout

block content
  div.columns.medium-12.large-10
    div.row
      h1.page-title The pragmatic approach to qualitatively test your app
      p We know you’ll love getting all the insights from user testing. Our pragmatic approach provides the tools & know-how.
    div.row.hero-form
      div.small-10.medium-6.large-4
        input(type='text' placeholder='Enter your app\'s name')
      div.small-10.medium-6.large-4
        a(href='/app' class='button primary') Create test for free
