extends layout

block content
  h1.page-title The pragmatic approach to qualitatively test your app
  p We know you’ll love getting all the insights from user testing. Our pragmatic approach provides the tools & know-how.
  a(href='/app' class='button primary') Create team for free
