doctype html
html
  head
    title= title
    meta(charset='UTF-8')
  body
    div.row
      div.columns.medium-6.large-8.small-centered
        block content
    script(src="/javascripts/landingPage.js")
