.step__checked {
  color: $primary-color;
  position: relative;
  top: .5rem;
}

.step__list {
  margin-top: 2rem;
}

.step__inactive {
  opacity: .5;
}

.step__test-title {
  margin: 0;
}
.step__test-title-hr {
  border-bottom: 1px solid $primary-color;
}
