.row {
  max-width: none;
}
h1.page-title{
  line-height: 3rem;
  margin: 8rem 0 1rem;
  text-align: left;
}
.menu {
  li.menu-text {
    a {
      color: $black;
      font-size: 1.5rem;
      padding: 0;
    }
  }
}

.hero {
  background: #F3F3F3;
  padding: 5rem 0;

  .hero-form{
    display: flex;
  }

  .button {
    margin-left:1rem;
  }
}
